@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --White: #ffffff;
  --DimedWhite: #F0F2F6;
  --AeroBlue: #D3F6DB;
  --MiddleBlue: #92D5E6;
  --Eminence: #772D8B;
  --PalatinatePurple: #5A0B4D;
  --LightGreen: #A1EF8B;
  --PakistanGreen: #036D19;
  --SlimyGreen: #09A129;
  --SpaceCadet: #2B2D42;
  --DimedSpaceCadet: #2b2d4249;
}
html{
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--DimedWhite);
  }
    
  #root{
    height: 100%;
    width: 100%;
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation{
  position: relative;
  width: 95.5vw;
  height: 70px;
  background: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 6px 0px rgba(43, 45, 66, 0.2);
}
.navigation ul{
  display: flex;
}

ul{
  list-style-type: none;
  list-style: none;
}

.navigation ul li{
  position: relative;
  list-style-type: none;
  list-style: none;
  width: 16.91vw;
  height: 70px;
  z-index: 1;
}

.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--SpaceCadet);
}

.navigation ul li.active a .icon{
  transform: translateY(-37px);
}

.navigation ul li a .text{
  position: absolute;
  color: var(--SpaceCadet);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .text{
  opacity: 1;
  transform: translateY(10px);
}

.indicator{
 position: absolute;
 top: -50%;
 width: 70px;
 height: 70px;
 background-color: var(--LightGreen);
 border-radius: 50%;
 border: 6px solid var(--DimedWhite);
 transition: 0.5s;
}

.indicator:before{
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--DimedWhite);
}

.indicator:after{
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--DimedWhite);
}

.navigation ul li:nth-child(1).active ~ .indicator{
  transform: translateX(calc(37.6vw / -1));
}

.navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(37.6vw / -2));
}

.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(0);
}

.navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(37.35vw / 2));
}

.navigation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(37.35vw));
}

/* Universal */

.Main__Background{
  background-color: var(--DimedWhite);
}

.hr__look{
  border-top: 1px solid var(--DimedSpaceCadet);
}

/* Universal */


/* Settings */
.settings__icon{
  color: var(--SpaceCadet);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.settings__Wrapper{
  animation: 0.45s ease-out 0s 1 slideInFromLeft;
}

/* Settings */



/* Home */

/* Home */
